apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: fcg-keyvault-secrets
  namespace: shared
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "2f18592a-16bc-46be-9190-10eac3db92bd"
    keyvaultName: "kv-fcg-secrets"
    tenantId: "bf50f8af-bb05-4bd9-8d95-5912c99e1dfc"
    objects: |
      array:
        - |
          objectName: appinsights-connection-string
          objectType: secret
          objectAlias: appinsights-connection-string
        - |
          objectName: sendgrid-api-key
          objectType: secret
          objectAlias: sendgrid-api-key
        - |
          objectName: servicebus-connection
          objectType: secret
          objectAlias: servicebus-connection
  secretObjects:
  - secretName: fcg-secrets
    type: Opaque
    data:
    - objectName: appinsights-connection-string
      key: appinsights-connection-string
    - objectName: sendgrid-api-key
      key: sendgrid-api-key
    - objectName: servicebus-connection
      key: servicebus-connection
