apiVersion: v1
kind: Service
metadata:
  name: email-function
  namespace: fcg-functions
  labels:
    app: email-function
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: email-function
